<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="taskCompletionTime2">
      <h2 data-cy="taskCompletionTime2DetailsHeading"><span>Task Completion Time 2</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Translation missing for global.field.id</span></dt>
        <dd>
          <span>{{ taskCompletionTime2.id }}</span>
        </dd>
        <dt><span>Participant Name</span></dt>
        <dd>
          <span>{{ taskCompletionTime2.participantName }}</span>
        </dd>
        <dt><span>Sex</span></dt>
        <dd>
          <span>{{ taskCompletionTime2.sex }}</span>
        </dd>
        <dt><span>Age</span></dt>
        <dd>
          <span>{{ taskCompletionTime2.age }}</span>
        </dd>
        <dt><span>Time Seconds</span></dt>
        <dd>
          <span>{{ taskCompletionTime2.timeSeconds }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Translation missing for entity.action.back</span>
      </button>

      <button type="button" [routerLink]="['/task-completion-time-2', taskCompletionTime2.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Translation missing for entity.action.edit</span>
      </button>
    </div>
  </div>
</div>
