<div>
  <h2 id="page-heading" data-cy="RevocabilityPasswordChangeTimeHeading">
    <span>Revocability Password Change Times</span>

    <div class="d-flex justify-content-end">
      <!--       <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button> -->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-revocability-password-change-time"
        [routerLink]="['/revocability-password-change-time/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>New try</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="revocabilityPasswordChangeTimes?.length === 0">
    <span>No Revocability Password Change Times found</span>
  </div>

  <div
    class="table-responsive table-entities"
    id="entities"
    *ngIf="revocabilityPasswordChangeTimes && revocabilityPasswordChangeTimes.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!--           <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Translation missing for global.field.id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" jhiSortBy="participantName">
            <div class="d-flex">
              <span>Participant Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sex">
            <div class="d-flex">
              <span>Sex</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="age">
            <div class="d-flex">
              <span>Age</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="timeSeconds">
            <div class="d-flex">
              <span>Time Seconds</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="errors">
            <div class="d-flex">
              <span>Errors (not yet supported)</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let revocabilityPasswordChangeTime of revocabilityPasswordChangeTimes; trackBy: trackId" data-cy="entityTable">
          <!--           <td>
            <a [routerLink]="['/revocability-password-change-time', revocabilityPasswordChangeTime.id, 'view']">{{
              revocabilityPasswordChangeTime.id
            }}</a>
          </td> -->
          <td>{{ revocabilityPasswordChangeTime.participantName }}</td>
          <td>{{ revocabilityPasswordChangeTime.sex }}</td>
          <td>{{ revocabilityPasswordChangeTime.age }}</td>
          <td>{{ revocabilityPasswordChangeTime.timeSeconds }}</td>
          <td>{{ revocabilityPasswordChangeTime.errors }}</td>
          <td class="text-end">
            <div class="btn-group">
              <!--        <a
                [routerLink]="['/revocability-password-change-time', revocabilityPasswordChangeTime.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Translation missing for entity.action.view</span>
              </a>

              <a
                [routerLink]="['/revocability-password-change-time', revocabilityPasswordChangeTime.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Translation missing for entity.action.edit</span>
              </a>

              <button
                type="submit"
                (click)="delete(revocabilityPasswordChangeTime)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Translation missing for entity.action.delete</span>
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
