<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="revocabilityPasswordChangeTime">
      <h2 data-cy="revocabilityPasswordChangeTimeDetailsHeading"><span>Revocability Password Change Time</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Translation missing for global.field.id</span></dt>
        <dd>
          <span>{{ revocabilityPasswordChangeTime.id }}</span>
        </dd>
        <dt><span>Participant Name</span></dt>
        <dd>
          <span>{{ revocabilityPasswordChangeTime.participantName }}</span>
        </dd>
        <dt><span>Sex</span></dt>
        <dd>
          <span>{{ revocabilityPasswordChangeTime.sex }}</span>
        </dd>
        <dt><span>Age</span></dt>
        <dd>
          <span>{{ revocabilityPasswordChangeTime.age }}</span>
        </dd>
        <dt><span>Time Seconds</span></dt>
        <dd>
          <span>{{ revocabilityPasswordChangeTime.timeSeconds }}</span>
        </dd>
        <dt><span>Errors</span></dt>
        <dd>
          <span>{{ revocabilityPasswordChangeTime.errors }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Translation missing for entity.action.back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/revocability-password-change-time', revocabilityPasswordChangeTime.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Translation missing for entity.action.edit</span>
      </button>
    </div>
  </div>
</div>
