<div>
  <h2 id="page-heading" data-cy="Task3Heading">
    <span>Task 3 - results</span>

    <div class="d-flex justify-content-end">
      <!--       <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button> -->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-task-3"
        [routerLink]="['/task-3/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>New try</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="task3s?.length === 0">
    <span>No Task 3 S found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="task3s && task3s.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!--           <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Translation missing for global.field.id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" jhiSortBy="participantName">
            <div class="d-flex">
              <span>Participant Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sex">
            <div class="d-flex">
              <span>Sex</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="age">
            <div class="d-flex">
              <span>Age</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="taskCompletionTimeSeconds">
            <div class="d-flex">
              <span>Task Completion Time Seconds</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="errors">
            <div class="d-flex">
              <span>Errors</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task3 of task3s; trackBy: trackId" data-cy="entityTable">
          <!--           <td>
            <a [routerLink]="['/task-3', task3.id, 'view']">{{ task3.id }}</a>
          </td> -->
          <td>{{ task3.participantName }}</td>
          <td>{{ task3.sex }}</td>
          <td>{{ task3.age }}</td>
          <td>{{ task3.taskCompletionTimeSeconds }}</td>
          <td>{{ task3.errors }}</td>
          <!--           <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/task-3', task3.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">action.view</span>
              </a>

              <a [routerLink]="['/task-3', task3.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">action.edit</span>
              </a>

              <button type="submit" (click)="delete(task3)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">action.delete</span>
              </button>
            </div>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
